[submodule "External/fastgltf"]
	path = External/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "External/ImGuiFileDialog"]
	path = External/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "External/IconFontCppHeaders"]
	path = External/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
