[submodule "External/fastgltf"]
	path = External/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "External/ImGuiFileDialog"]
	path = External/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "External/IconFontCppHeaders"]
	path = External/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/wpsimon09/imgui.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/wpsimon09/imgui.git
[submodule "External/SPIRV-Reflect"]
	path = External/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "External/MikkTSpace"]
	path = External/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git

